@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-drawer-content-wrapper {
  width: 480px !important;
}

.ant-tag.status {
  margin-right: 0px !important;
}

.ant-modal {
  width: 720px !important;
}

.ant-modal-content {
  border-radius: 4px !important;
}

.ant-otp-input {
  height: 80px;
  width: 65px !important;
  font-size: 24px !important;
  font-weight: 700;
  color: #5c5e62 !important;
  transition: border 0.3s ease-in-out;

  &:disabled {
    background-color: transparent !important;
    border-color: #02b028 !important;
    border-width: 3px !important;
  }
}

.ant-collapse-header {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.ant-collapse-content {
  padding-top: 12px;
  font-style: italic;
  font-weight: 500;
}
.ant-collapse-content-box {
  margin-bottom: 4px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
